openapi: 3.0.3
x-generated: '2026-07-20'
x-method: generated
x-source: https://developer.moxionpower.com/llms.txt
x-note: >-
  Faithfully generated from Moxion Power's published developer documentation
  (llms.txt operation index, authentication guide, device-metrics and
  device-faults guides). Operation summaries/descriptions are verbatim from the
  docs; path templates are inferred from REST resource naming and marked
  x-inferred where not published verbatim. Not harvested from a provider spec
  (the ReadMe-hosted OpenAPI is behind bot protection). The company filed for
  bankruptcy in August 2024.
info:
  title: Moxion Power Developer API
  version: v1
  description: >-
    REST API sharing resources and telemetry about an organization's Moxion
    Mobile Power Units (MPUs): device listing/details, GPS location, time-series
    device metrics, active fault codes, and AEMP 2.0 (ISO 15143-3 v.20190501)
    compliant fleet-snapshot endpoints.
  contact:
    name: Moxion Power Support
    email: help@moxionpower.com
    url: https://developer.moxionpower.com
servers:
- url: http://api.moxionpower.com/developer/v1
  description: Production (per the authentication guide curl example)
security:
- bearerAuth: []
tags:
- name: Organizations
- name: Devices
- name: Device Location
- name: Device Metrics
- name: Device Faults
- name: Fleet Snapshot (AEMP)
paths:
  /organizations:
    get:
      operationId: OrganizationsController_listOrganizations
      tags: [Organizations]
      summary: List Organizations
      description: Lists details about the authorized Organizations.
      responses:
        '200':
          description: A list of authorized organizations.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /devices:
    get:
      operationId: DevicesController_listDevices
      tags: [Devices]
      summary: List Devices
      description: Lists details about all devices belonging to an Organization.
      responses:
        '200': { description: A list of devices belonging to the organization. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /devices/{deviceId}:
    get:
      operationId: DevicesController_getDevice
      tags: [Devices]
      summary: Get Device Details
      description: Returns the details of a single device.
      parameters:
      - { $ref: '#/components/parameters/DeviceId' }
      responses:
        '200': { description: Details of a single device. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /devices/{deviceId}/faults:
    x-inferred: path
    get:
      operationId: DeviceFaultsController_listFaults
      tags: [Device Faults]
      summary: Get Device Faults
      description: >-
        Gets a set of Timestamped Faults for a device. The time range of Faults
        is specified with the start and end parameters, including start and
        excluding end - [start, end). The max duration cannot exceed 1 day.
      parameters:
      - { $ref: '#/components/parameters/DeviceId' }
      - { $ref: '#/components/parameters/Start' }
      - { $ref: '#/components/parameters/End' }
      responses:
        '200': { description: Timestamped faults for the device in the given range. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /devices/{deviceId}/locations:
    x-inferred: path
    get:
      operationId: DeviceLocationController_listLocations
      tags: [Device Location]
      summary: Get Device Locations
      description: >-
        Gets a set of Timestamped Locations for a device. The time range of
        locations is specified with the start and end parameters, including
        start and excluding end - [start, end). The max duration cannot exceed
        1 day.
      parameters:
      - { $ref: '#/components/parameters/DeviceId' }
      - { $ref: '#/components/parameters/Start' }
      - { $ref: '#/components/parameters/End' }
      responses:
        '200': { description: Timestamped locations for the device in the given range. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /devices/{deviceId}/locations/latest:
    x-inferred: path
    get:
      operationId: DeviceLocationController_getLatestLocation
      tags: [Device Location]
      summary: Get Latest Device Location
      description: Returns the most recent Timestamped Location for the specified device.
      parameters:
      - { $ref: '#/components/parameters/DeviceId' }
      responses:
        '200': { description: The most recent timestamped location. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /devices/{deviceId}/metrics:
    x-inferred: path
    get:
      operationId: DeviceMetricsController_listMetrics
      tags: [Device Metrics]
      summary: Get Device Metrics
      description: >-
        Gets a set of Timestamped Metrics for a device. The time range of
        metrics is specified with the start and end parameters, including start
        and excluding end - [start, end). The max duration cannot exceed 1 day.
      parameters:
      - { $ref: '#/components/parameters/DeviceId' }
      - { $ref: '#/components/parameters/Start' }
      - { $ref: '#/components/parameters/End' }
      responses:
        '200': { description: Timestamped device metrics in the given range. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /fleet/snapshot:
    x-inferred: path
    get:
      operationId: FleetSnapshotController_listEquipmentAempSnapshot
      tags: [Fleet Snapshot (AEMP)]
      summary: AEMP Fleet Snapshot
      description: >-
        Get the AEMP 2.0 (ISO 15143-3 v.20190501) compliant Fleet Snapshot.
        Note that equipment is paged and returned in order of creation time.
        Snapshot timestamp is consistent within a single page but is not
        guaranteed across pages. Response type is JSON.
      responses:
        '200': { description: AEMP 2.0 compliant fleet snapshot (paged). }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /fleet/snapshot/extended:
    x-inferred: path
    get:
      operationId: FleetSnapshotController_listEquipmentAempSnapshotExtended
      tags: [Fleet Snapshot (AEMP)]
      summary: AEMP Extended Fleet Snapshot
      description: >-
        Get the extended AEMP 2.0 Fleet Snapshot. This endpoint differs from the
        standard AEMP fleet snapshot by including data from outside of the
        standard AEMP spec, but in the same snapshot format. Equipment is paged
        and returned in order of creation time. Response type is JSON.
      responses:
        '200': { description: Extended AEMP 2.0 fleet snapshot (paged). }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /fleet/faults/snapshot:
    x-inferred: path
    get:
      operationId: FleetFaultSnapshotController_listEquipmentAempFaultSnapshot
      tags: [Fleet Snapshot (AEMP)]
      summary: AEMP Extended Fleet Faults Snapshot
      description: >-
        Get the extended AEMP 2.0 Fleet Fault Snapshot. This endpoint extends
        AEMP 2.0 outside of its specification as faults are not typically
        included as a fleet snapshot; the API format follows that of the AEMP
        Snapshot. Returns an array of Equipment and their associated ACTIVE
        Faults; a zero-length Faults array suggests no faults are currently
        known. Equipment is paged and returned in order of creation time.
        Response type is JSON.
      responses:
        '200': { description: Extended AEMP fleet fault snapshot (paged). }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API key issued to a Service Account, sent as the Authorization header
        with a `bearer` prefix. Service Accounts and their permissions are
        provisioned by Moxion personnel.
  parameters:
    DeviceId:
      name: deviceId
      in: path
      required: true
      description: Identifier of the Mobile Power Unit device.
      schema: { type: string }
    Start:
      name: start
      in: query
      required: true
      description: Inclusive start of the time range (ISO 8601). Range [start, end); max duration 1 day.
      schema: { type: string, format: date-time }
    End:
      name: end
      in: query
      required: true
      description: Exclusive end of the time range (ISO 8601). Range [start, end); max duration 1 day.
      schema: { type: string, format: date-time }
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
    NotFound:
      description: The requested resource was not found.
    RateLimited:
      description: Rate limit or data quota exceeded.
